<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update profile</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/edit/<%=id%>?_method=PUT" method="post" enctype="multipart/form-data">
     <div style="display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-content: center;
     align-items: center;">
     <label for="username">Name</label> <input value="<%=user.username%>" type="text" id="username" name="username" placeholder="Your Neme">
     <label for="joiningYear">Session</label> <input value="<%=user.session%>" type="text" id="joiningYear" name="session" placeholder="Ex. 2020">
     <label for="image">Image</label> <input type="file" id="image" name="image" >
     <label for="email">Email</label> <input value="<%=user.email%>" type="email" id="email" name="email" placeholder="Your Email">
     <label for="linkedIn">LinkedIn</label> <input value="<%=user.linkedIn%>" type="text" id="linkedIn" name="linkedIn" placeholder="LinkedIn link">
     <label for="insta">Insta</label> <input value="<%=user.insta%>" type="text" id="insta" name="insta" placeholder="Insta Link">
     <label for="facebook">Facebook</label> <input value="<%=user.facebook%>" type="text" id="facebook" name="facebook" placeholder="Facebook Link">
     <label for="bio">Bio</label>
     <textarea name="bio" id="bio" cols="30" rows="10" placeholder="About your self"><%=user.bio%></textarea> 
     
     <button type="submit">Update</button>
    </div>
    </form>
</body>
</html>