<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= workshop.name  %> </title>
</head>
<body>
    <h1><%= workshop.name %> <a href="/workshops">All workshops</a> </h1>
    <h3>At <%=workshop.vanue%> </h3>
    <h3> <%= workshop.date %>  </h3>    
    <h4>- By <%=workshop.author%> </h4> 
    <h4><a href="<%=workshop.register%>" target="_blank">Register</a></h4>
    <a href="/workshops/edit/<%=workshop._id%> ">Edit</a>
    <form action="/workshops/delete/<%=workshop._id%>?_method=delete" method="post">
    <button type="submit">Delete</button>
    </form>
</body>
</html>