<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title  %> </title>
</head>
<body>
    <h1><%= blog.title %> <a href="/blogs/ejs">All Blogs</a> </h1>
    <div> <pre><%=blog.content%></pre> </div>
     <% for(img of blog.images) {%> 
        <img style="height: 30vh;" src="<%=img.url%>" alt="">
     <%  }%> 
    <h4>- By <pre> <%=blog.author%></pre> </h4> 
    <a href="/blogs/ejs/edit/<%=blog._id%>">Edit</a>
    <form action="/blogs/ejs/delete/<%=blog._id%>?_method=delete" method="post">
    <button type="submit">Delete</button>
    </form>
</body>
</html>