<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog</title>
    <style>
        .img-container{
            margin: 4vh;
            display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
        }
        .imgs{
            height: 20vh;
        }
    </style>
</head>
<body>
    <h2>Edit Blog</h2>

    <form action="/blogs/ejs/edit/<%=blog.id%>?_method=PUT" method="post" enctype="multipart/form-data">
        <div style="display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;">
    <label for="title"></label>Title :<input value="<%= blog.title %>" type="text" name="title" id="title">
    <label for="content"></label>Content :  <textarea style="margin: 0px; height: 348px; width: 601px;" name="content" id="content" cols="30" rows="10"><%= blog.content %> </textarea>
    <label for="author"></label>author<input  value="<%= blog.author %>" type="text" name="author" id="author">
    <label for="Images">Images</label><input type="file" name="images" id="images" multiple>
    <% if(blog.images){ %> 
    <div class="img-container">
        <% blog.images.forEach(function(img, i) { %>

        <img class="imgs" src="<%=img.thumbnail %>" alt="">
        <div >
            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% })%>

    </div>
    <% } %> 
    <button type="submit">Update</button>
</div>
    </form>
   
    
</body>
</html>