<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= event.name  %> </title>
</head>
<body>
    <h1><%= event.name %> <a href="/events/ejs">All events</a> </h1>
    Thumbnail : 
    <% if (event.thumbnail) { %>
        <img style="height: 35vh;" src="<%= event.thumbnail.url%> " alt="">
        <% }else { %>
            <h1>No Thumbnail</h1>
             <%} %>
    <div class="img">
        <img style="height: 35vh;" src="<%= event.image.url%> " alt="">
        
    </div>
    <div>
      
    </div>
    <div><p><%=event.meta%> </p>
        <p><%=event.description%> </p>
    </div>
    <p>Is Over :<% if (event.isOver) { %>
     Yes 
    <% } else { %>
         No 
       <% } %> </p>
    <h4>Register Link :<%=event.register %> </h4>
    <a href="/events/ejs/edit/<%=event._id%> ">Edit</a>
    <form action="/events/ejs/delete/<%=event._id%>?_method=delete" method="post">
    <button type="submit">Delete</button>
    </form>
</body>
</html>